{% extends 'default.html.twig' %}

{% block title %}PCplus | Checkout{% endblock %}

{% block body %}
<div  class="main_content">
    <div  class="section">
        <div  class="container">
            <div  class="row">
 
            </div>
            <div  class="row">

            </div>
            <div  class="row">
                <div  class="col-md-6">
                    <div  class="heading_s1">
                        <h4>Adresse de facturation</h4>
                        <select name="billing_address" class="form-control">
                            <option value=""> Choix de l'adresse de facturation</option>
                            {% for address in addresses %}
                                <option>
                                    {{ address.clientName }}
                                    ( {{ address.street }}
                                    {{ address.codePostal }}
                                    {{ address.city }}
                                    {{ address.state }} )
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div  class="heading_s1">
                        <h4>Adresse de livraison</h4>
                        <select name="shipping_address" class="form-control">
                        <option value=""> Choix de l'adresse de livraison</option>
                            {% for address in addresses %}
                                <option>
                                    {{ address.clientName }}
                                    ( {{ address.street }}
                                    {{ address.codePostal }}
                                    {{ address.city }}
                                    {{ address.state }} )
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div  class="heading_s1">
                        <h4>Commentaire</h4>
                        <textarea class="form-control" name="comments" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div  class="col-md-6">
                    <div  class="order_review">
                        <div  class="heading_s1">
                            <h4 >Vos commandes</h4>
                        </div>
                        <div  class="table-responsive order_table">
                            <table  class="table">
                                <thead >
                                    <tr >
                                        <th >Produit</th>
                                        <th >Total</th>
                                    </tr>
                                </thead>
                                <tbody >
                                {% for item in cart.items %}
                                    <tr>

                                        <td>
                                            <img src="/assets/images/products/{{item.product.imageUrls[0]}}"
                                            width="30" height="30" alt="">
                                        
                                            {{item.product.name}}
                                            <span class="product-qty">{{item.quantity}}</span>
                                        </td>
                                        <td>
                                            {{ (item.product.soldePrice/100) |format_currency('EUR') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot >
                                    {# <tr >
                                        <th >SubTotal</th>
                                        <td  class="product-subtotal">{{ (cart.sub_total/100) |format_currency('EUR') }}</td>
                                    </tr> #}
                                    <tr >
                                        <th >Total</th>
                                        <td  class="product-subtotal">{{ (cart.sub_total/100) |format_currency('EUR') }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div  class="payment_method">
                            
                        </div>
                        
                        <div class="payment-buttons d-none">
                            <a  href="#" class="btn btn-fill-out btn-block">
                                Paiement
                                {{ (cart.sub_total/100) |format_currency('EUR') }}
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let billing_address = ""
        let shipping_address = ""
        let comment = ""
        let displayPayBtn = false

        const billing_address_select = document.querySelector('select[name="billing_address"]')
        const shipping_address_select = document.querySelector('select[name="shipping_address"]')
        const comments_textarea = document.querySelector('textarea')
        const payBtn = document.querySelector('.payment-buttons')

        const updateButton = () => {
            displayPayBtn = (!!billing_address) && (!!shipping_address)
            //console.log({displayPayBtn}, comment)
            displayPayBtn ? payBtn.classList.remove("d-none") : payBtn.classList.add("d-none")
        }

        billing_address_select.onchange = (event) => {
            billing_address = event.target.value
            updateButton()
        }

        shipping_address_select.onchange = (event) => {
            shipping_address = event.target.value
            updateButton()
        }
        comments_textarea.onchange = (event) => {
            comment = event.target.value
            updateButton()
        }

    </script>
</div>
{% endblock %}
